name: Run ERDDAP version check

on:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * MON"

jobs:
  build:
    name: Check ERDDAP servers versions
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: prefix-dev/setup-pixi@v0.9.3
      - run: pixi run erddap_ver_check

      - name: Publish Table
        if: github.ref == 'refs/heads/main'
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: html/
          keep_files: true
